
@font-face {
  font-family: 'iconfont';  /* project id 316826 */
  src: url('//at.alicdn.com/t/font_qks4fnwcyt9jxlxr.eot');
  src: url('//at.alicdn.com/t/font_qks4fnwcyt9jxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_qks4fnwcyt9jxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_qks4fnwcyt9jxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_qks4fnwcyt9jxlxr.svg#iconfont') format('svg');
}

