
@font-face {
  font-family: 'iconfont';  /* project id 316826 */
  src: url('//at.alicdn.com/t/font_rj9f2880kalnxw29.eot');
  src: url('//at.alicdn.com/t/font_rj9f2880kalnxw29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_rj9f2880kalnxw29.woff') format('woff'),
  url('//at.alicdn.com/t/font_rj9f2880kalnxw29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_rj9f2880kalnxw29.svg#iconfont') format('svg');
}
