/*TodoInput界面*/
.TodoInput{
  border-radius: 4px;
  background: #46529D;
  margin: 2em 2em 0 2em;
  min-height: 10em;
  min-width: 30em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  position: fixed;
  bottom: 8em;
  animation: myTodoInput .5s;
  right: 0;
}
@keyframes myTodoInput {
  0% {right: -30em;} 
  100% {right: 0;}
}
.TodoInput >.header >ul {
  padding: 75px 0 75px 60px;
  display: flex;
}
.TodoInput >.header >ul li {
  width: 30%;
}
.TodoInput >.header >ul li:nth-child(3){
  text-align: right;
}
.TodoInput >.header .iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34A0DB;
  cursor: pointer;
}

.TodoInput>.header .add-thing {
  color: white;
  text-align: center;
  padding-top: .5em;
  font-size: 1.3em;
}

.TodoInput>.inputs{
  margin: 10px 60px;
}

.TodoInput>.inputs input {
  width: 100%;
  background-color: transparent;  
  outline: none;
  border: none;
  border-bottom: 1px solid #7D86BA;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
}











