@font-face {
  font-family: 'iconfont';  /* project id 238549 */
  src: url('//at.alicdn.com/t/font_137jasg4azg58kt9.eot');
  src: url('//at.alicdn.com/t/font_137jasg4azg58kt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.UserDialog-Wrapper {
  position: fixed;
  top: 5em;
  left: 0;
  right: 0;
  display: flex;
  justify-content:center;
  align-items: center;
}

.UserDialog {
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: transparent;
  border: 1px solid #aaa;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}
.UserDialog > nav:first-child label {
  width: 50%;
  box-sizing: box-border;
  display: inline-block;  
  padding: 0.8em;
  text-align: center;
  cursor: pointer;
  background-color:#23bFB0;
  margin-bottom: 1em;
}
.UserDialog > nav:first-child label input[type=radio] { 
  display: none;
}
.UserDialog > .panes {
  padding: 0 1em 1em; 
}
.UserDialog form>.row{
  display: flex;
  padding: .3em 0; 
}
.UserDialog form>.row>label:first-child {
  width: 4em;
}
.UserDialog form>.row.actions{
  padding-left: 4em; 
}
