@font-face {
  font-family: 'iconfont';  /* project id 316909 */
  src: url('//at.alicdn.com/t/font_v52f3zvjt3fy9zfr.eot');
  src: url('//at.alicdn.com/t/font_v52f3zvjt3fy9zfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_v52f3zvjt3fy9zfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_v52f3zvjt3fy9zfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_v52f3zvjt3fy9zfr.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:25px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 5px;
  padding-right: 10px;
  border-right: 1px solid #ccc;   
}

.UserDialog-Wrapper {
  background: url("1.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 100vw;
  height: 100vh;
}

.UserDialog {
  position: fixed;
  top: 5em;
  left: 50%;
  margin-left: -10em;
  justify-content:center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: #fff;
  border: 1px solid #aaa;
}
.UserDialog  nav {
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}
.UserDialog  nav label {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;  
  text-align: center;
  cursor: pointer;
}
.UserDialog  nav label:first-child {
  border-right: 1px solid #eee;
}
.UserDialog  nav label input[type=radio] { 
  display: none;
}
.UserDialog  .panes {
  padding: 0 1em 1em; 
}

/*注册登录*/
.inputbtn {
  display: flex;
  border: 1px solid #ccc;
  height: 2.5em;
  margin: 2em 0;
  height: 2.5em;
}
.UserDialog form>.row input { 
  margin-left: 5px;
  width: 95%;
  height: 100%;
  border: none;
  outline: none; 
}


.actions {
  margin: 2em 0;
}
.UserDialog form>.row button {
  width: 100%;
  padding: 0.5em 2em;  
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #E4393C;
  display: block;
}
.actions a {
  display: block;
  text-decoration: none;
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 15px;
}
.actions a:hover {
  color: #E4393C;
}
.active {
  color: #E4393C;
}

.signUp .row label {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 2.5em;
}


/*忘记密码*/
.forgotPassword {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.forgotPassword .header  {
  width: 100%;
  height: 130px;
  background-color: #F0F0F0;
}
.forgotPassword .header::after {
  content: '';
  display:block;
  clear: both;
}
.forgotPassword .header h2 {
  color: #F04400;
  font-size: 40px;
  float: left;
  margin: 40px 1em 0 5em;
}
.forgotPassword .header h3 {
  font-size: 25px;
  float: left;
  margin: 50px 1em 0 1em;
}
.forgotPassword .header ul {
  margin: 60px 15em 0 0;
  float: right;
}

.forgotPassword .header ul li {
  text-align: center;
  display: inline-block;
  padding: 0 2em;
  border-left: 1px solid #ccc;
}
.forgotPassword .header ul li:first-child {
  border: none;
}
.forgotPassword .header ul a {
  text-decoration: none;
}
.forgotPassword .header ul a:hover {
  color: #E4393C;
}
.forgotPassword form {
  width: 50%;
  margin: 5em auto;
  text-align: center;
}
.forgotPassword form input[type=text] {
  border: 1px solid #ccc;
  width: 15em;
  height: 2em;
  margin-left: 10px;
}

.forgotPassword form .row button {
  width: 15em;
  height: 2em;
  background-color: #E4393C;
  outline: none;
  border: 1px solid transparent;
  margin-left: 15.3em;
}



















