@font-face {
  font-family: 'iconfont';  /* project id 238549 */
  src: url('//at.alicdn.com/t/font_137jasg4azg58kt9.eot');
  src: url('//at.alicdn.com/t/font_137jasg4azg58kt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_137jasg4azg58kt9.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:25px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 5px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.UserDialog-Wrapper {
  position: fixed;
  top: 5em;
  left: 0;
  right: 0;
  display: flex;
  justify-content:center;
  align-items: center;
}

.UserDialog {
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: #fff;
  border: 1px solid #aaa;
}
.UserDialog > nav {
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}
.UserDialog > nav label {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;  
  text-align: center;
  cursor: pointer;
}
.UserDialog > nav label:first-child {
  border-right: 1px solid #eee;
}
.UserDialog > nav label input[type=radio] { 
  display: none;
}
.UserDialog > .panes {
  padding: 0 1em 1em; 
}
.UserDialog form>.row{
  height: 2.5em;
  margin: 2em 0;
  display: flex;
  border: 1px solid #ccc;
}
.UserDialog form>.row input { 
  margin-left: 5px;
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
}
.UserDialog form>.row button {
  width: 100%;
  padding: 0.5em 2em;  
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #E4393C;
}
.active {
  color: #E4393C;
}
































